{% extends "base.html" %}

{% block page_title %}{{ subset }} {{ subject }}{% endblock %}

{% block content %}
    Pulled {{ pulls|length }} times.

    {% if pulls %}
    <h3>Pulls</h3>

    <table border="1" class="sortable">
      <tr>
        <th>Pull ID</th><th>Serial</th><th>Date Pulled</th><th>Breaker</th><th>Variation</th><th>Link</th>
      </tr>
    {% for pull in pulls %}
    <tr>
      <td>{{ pull.id }}</td>
      <td>{{ pull.show_identifier }}</td>
      <td sorttable_customkey="{{ pull.box.opened_datetime.isoformat }}">{{ pull.box.video.date|date:"M d, Y" }}</td>
      <td>{{ pull.box.video.breaker }}</td>
      <td>{{ pull.card.variation }}</td>
      <td>{{ pull.video_link|safe }}</td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}
