<html>
{% load static %}
  <head>
    <style>
      /* Sortable tables */
      table.sortable thead {
          background-color:#eee;
          color:#666666;
          font-weight: bold;
          cursor: default;
      }
    </style>
    <script src="{% static 'sorttable.js' %}"></script>
  </head>
  <body>
    <h1>Trading Card Provenance</h1>

    <h2>{{ subset }} {{ subject }}</h2>

    Pulled {{ pulls|length }} times.

    {% if pulls %}
    <h3>Pulls</h3>

    <table border="1" class="sortable">
      <tr>
        <th>Serial</th><th>Date Pulled</th><th>Breaker</th><th>Link</th>
      </tr>
    {% for pull in pulls %}
    <tr>
      <td>{{ pull.show_identifier }}</td>
      <td sorttable_customkey="{{ pull.box.video.date.isoformat }}">{{ pull.box.video.date|date:"M d, Y" }}</td>
      <td>{{ pull.box.video.breaker }}</td>
      <td>{{ pull.video_link|safe }}</td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
