{% extends "base.html" %}

{% block page_title %}{{ set }}{% endblock %}

{% block content %}

<h3>Products</h3>
{% for prod, stats in product_overview.items %}
  <h4>{{ prod.type_plural }}</h4>
  <strong>{{ prod.pull_count }}</strong> pulls from a total of <strong>{{ prod.box_set.count }}</strong> {{ prod.type_plural }}<br>
  <strong>{{ stats.percent }}%</strong> of pulls come from {{ prod.type_plural }} <br><a href="/index_ui/{{ prod.id }}">Index New {{ prod.type }}</a><br><br>
  Estimated product run: {{ prod.set.box_size_estimation }} {{ prod.type_plural }}
  <br>Average scarcity score per box: {{ set.average_scarcity_per_box|floatformat:3 }}

  <h4>Luckiest Breakers</h4>
  <table border="1" class='sortable'>
    <tr>
      <td>Rank</td><td>Breaker</td><td>Boxes opened</td><td>Avg. Scarcity<br>per box</td>
    </tr>
  {% for breaker in prod.top_breakers %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="/pulls/breaker/{{ breaker.id }}/product/{{ prod.id }}">{{ breaker }}</a></td>
      <td>{{ breaker.product_total_boxes }}</td>
      <td>{{ breaker.product_avg_scarcity|floatformat:3 }}</td>
    </tr>
  {% endfor %}
  </table>

  <h4>Best {{ prod.type_plural }}</h4>
  <table border="1">
    <tr>
      <td>Rank</td><td>Box ID</td><td>Breaker</td><td>Video Link</td><td>Pulled</td>
    </tr>
  {% for box in prod.best_examples %}
    <tr>
      <td>{{ forloop.counter }}</td><td>{{ box.id }}</td><td>{{ box.video.breaker }}</td><td>{{ box.video_link|safe }}</td><td>{{ box.hits|safe }}</td>
    </tr>
  {% endfor %}
  </table>

  <h4>Median {{ prod.type_plural }}</h4>
  <table border="1">
    <tr>
      <td>Rank</td><td>Box ID</td><td>Breaker</td><td>Video Link</td><td>Pulled</td>
    </tr>
  {% for rank, box in prod.median_examples %}
    <tr>
      <td>{{ rank }}</td><td>{{ box.id }}</td><td>{{ box.video.breaker }}</td><td>{{ box.video_link|safe }}</td><td>{{ box.hits|safe }}</td>
    </tr>
  {% endfor %}
  </table>

  <h4>Worst {{ prod.type_plural }}</h4>
  <table border="1">
    <tr>
      <td>Rank</td><td>Box ID</td><td>Breaker</td><td>Video Link</td><td>Pulled</td>
    </tr>
  {% for box in prod.worst_examples %}
    <tr>
      <td>{{ forloop.counter }}</td><td>{{ box.id }}</td><td>{{ box.video.breaker }}</td><td>{{ box.video_link|safe }}</td><td>{{ box.hits|safe }}</td>
    </tr>
  {% endfor %}
  </table>

{% endfor %}

<hr>

<h3>Subsets</h3>
<ul>
{% for name, data in non_auto_subsets.items %}
  <li><strong>{{ name }}</strong><br>
    {% for item in data %}
      <a href="/subset_overview/{{ item.id }}">
        {% if item.color %}{{ item.color }}{% else %}{% endif %}
        {% if item.serial_base %}/{{ item.serial_base }}{% else %}Unnumbered{% endif %}</a><br>
    {% endfor %}
  </li>
{% endfor %}
</ul>

<h3>Autographs</h3>
<ul>
{% for name, data in auto_subsets.items %}
  <li><strong>{{ name }}</strong><br>
    {% for item in data %}
      <a href="/subset_overview/{{ item.id }}">
        {% if item.color %}{{ item.color }}{% else %}{% endif %}
        {% if item.serial_base %}/{{ item.serial_base }}{% else %}Unnumbered{% endif %}</a><br>
    {% endfor %}
{% endfor %}
</ul>
{% endblock %}
