<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <style>
      /* Sortable tables */
      table.sortable thead {
          background-color:#eee;
          color:#666666;
          font-weight: bold;
          cursor: default;
      }
    </style>
    <script src="{% static 'sorttable.js' %}"></script>
  </head>
  <body>

  <h1>Trading Card Provenance</h1>


  <h2>{{ subset }}</h2>

  <a href="/set_overview?set={{ subset.set.id }}">{{ subset.set }}</a>

  <h3>Statistics</h3>

  {% for product, data in statistics.items %}
    {{ data.found }} Found in {{ product.type }}<br>
    At least one found in {{ data.boxes_found_in }} out of a total of {{ data.box_population }} boxes.<br>
    {% if subset.checklist_size %}{{ subset.checklist_size }} cards in the subset checklist.<br>{% endif %}
    {{ unique }} Unique pulled {% if subset.checklist_size %}({{ unique_percent|floatformat:2 }}% of checklist){% endif %}<br>
    Percent of entire population found: {{ data.percentage_found|floatformat:2 }}%<br>
    Odds: {{ data.odds_per_box }}<br>
    Expected to exist: {{ data.expected|floatformat:0 }}<br>
    {% if not subset.serial_base and subset.checklist_size %}
      Estimated {{ subset.estimated_population_each|floatformat:0 }} exist of each card in this set
    {% endif %}
    <br><a href="{{ subset.get_comc_link }}">Comc link</a>
  {% endfor %}

  <br><a href="/collections/enter_subset/{{ subset.id }}">Add your collection</a>

  <h3>Cards Pulled</h3>

  <table border="1" class="sortable">

    {% if subset.multi_base %}
    <tr><th>Subject</th><td>Found</td><td>Percent</td><td>Expected <br>Percentage</td><td>Scarcity <br>Factor</td><td>Estimated <br>Population</td></tr>
    {% elif subset.multi_base_numbered %}
    <tr><th>Subject</th><td>Serial Base</td><td>Found</td></tr>
    {% else %}
    <tr><th>Subject</th><td>Found</td></tr>
    {% endif %}

  {% for card, data in summary.items %}
    {% if subset.multi_base %}
    <tr>
      <th><a href="/card_overview/{{ subset.id }}/{{ card|slugify }}">{{ card }}</a></th>
      <td>{{ data.count }}</td>
      <td>{{ data.percentage|floatformat:2 }}%</td>
      <td>{{ data.expected_percentage|floatformat:2 }}%</td>
      <td>{{ data.scarcity_factor|floatformat:2 }}</td>
      <td>{{ data.estimated_population }}</td>
    </tr>
    {% elif subset.multi_base_numbered %}
    <tr>
      <th><a href="/card_overview/{{ subset.id }}/{{ data.name|slugify }}">{{ data.name }}</a></th>
      <td>/{{ data.serial_base }}</td>
      <td>{{ data.count }}</td>
    </tr>
    {% else %}
    <tr>
      <th><a href="/card_overview/{{ subset.id }}/{{ data.name|slugify }}">{{ card }}</a></th>
      <td>{{ data }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
  </body>
</html>
