{% extends "base.html" %}

{% block page_title %}{{request.user}}'s {{ set }} collection of {{ subject }}{% endblock %}

{% block content %}
  <br><a href="{{ subject.comc_link }}">Comc link</a><br>

  {% if set %}
  <br><a href="/collections/{{ username }}/set/{{ set.id }}">{{ username }}'s {{ set }} collection</a>
  {% else %}
  <br><a href="/collections/{{ username }}">{{ username }}'s collection</a>
  {% endif %}


  <h3>Cards of {{ subject.name }} </h3>
  <table border="1" class="sortable">
    <tr><td>Set/Subset</td><td>Serial</td><td>Serial Base</td></tr>
  {% for cc in haves %}
     <tr>
       <td>{{ cc.card.subset.set }} {{ cc.card.subset.name }} {{ cc.card.subset.color }}</td>
       <td>{{ cc.serial }}</td>
       <td>{{ cc.card.get_serial_base }}</td>
     </tr>
  {% endfor %}
  </table>
{% endblock %}
