{% extends "base.html" %}

{% block page_title %}{{request.user}}'s {{ set }} collection of {{ subject }}{% endblock %}

{% block content %}
  <br><a href="{{ subject.comc_link }}">Comc link</a><br>

  {% if set %}
  <br><a href="/collections/{{ username }}/set/{{ set.id }}">{{ username }}'s {{ set }} collection</a>
  {% else %}
  <br><a href="/collections/{{ username }}">{{ username }}'s collection</a>
  {% endif %}


  <h3>Cards of {{ subject.name }} </h3>
  <ul>
  {% for cc in haves %}
     <li>{{ cc.card }} {{ cc.display_serial }}</li>
  {% endfor %}
  </ul>
{% endblock %}
